.notification {
  display: flex;
  align-items: center;
  margin-bottom: 8px;
  background: $vintage;
  padding: 16px 16px;
  border: 1px solid rgb(235,235,235);
  width: 100%;
  border-radius: 4px;
  box-shadow: 0 0 15px rgba(0,0,0,0.1);
}

.notification .notification-content {
  flex-grow: 1;
  padding: 0 24px;
}

.notification p {
  margin: 0;
  line-height: 1.4;
  text-align: justify;
}

.notification small {
  color: #999999;
  font-weight: bold;
}

.book {
  text-align: center;
}
